<!DOCTYPE html>
<head>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <h3>
            Đây là thư phục hồi tài khoản {{email}}
        </h3>
        <h3>
            Nhấn vào nút ở trang bên dưới để đến nơi đổi mật khẩu, lưu ý việc đổi mật khẩu chỉ có 1 trong 2 phương thức là otp qua hoặc recover bằng email
        </h3>
        <a href="http://localhost:3000/forgotpassword/{{recoverCode}}/{{id}}">Link đến trang đổi mật khẩu</a>
        <h5>Trang này chỉ phục vụ cho việc thay đổi mật khẩu</h5>
    </div>
</body>