<!DOCTYPE html>

<head>
    <style>
        body {
            max-width: 100%;
        }

        #box {
            padding: 6px 8px;
            width: 60%;
            margin: auto;
            background-color: rgb(239, 240, 233);
            height: auto;
        }

        #header {
            max-width: 100%;
            text-align: center;
        }

        #title-user {
            font-size: 20px;
        }

        #recover-code {
            font-weight: 750;
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #description {
            font-weight: 750;
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        #direct-to-website {
            color: yellow;
            background: rgb(240, 22, 22);
            max-width: 50%;
            height: 4rem;
            text-decoration: none;
            margin: auto;
            place-content: center;
            padding-top: 1rem;
        }

        .text-line {
            background: rgb(240, 22, 22);
            color: yellow;
            max-width: 100%;
            font-size: 18px;
            height: 3.5rem;
            margin-top: 20px;
            font-weight: 650;
            text-decoration: none;
            text-align: center; 
            
        }

        #footer {
            margin: auto;
            max-width: 80%;
        }
    </style>

</head>

<body>
    <div id="box">
        <div id="header">
            <h3 id="title-user">Chào mừng người dùng đến với shop NHT, {{userName}}</h3>
        </div>
        <p id="description">Với Tài khoản gmail này bạn đã đồng ý với một số điều khoản của công ty chúng tôi, dưới đây
            là mã phục hồi dành cho bạn nếu bạn quên mật khẩu cũ, hãy giữ bí mật về mã này</p>
        <p id="recover-code">Mã phục hồi: {{recoverCode}}</p>
        <a id="direct-to-website" href="/">
            <div class="text-line">
                <p style="padding: 1rem;">
                    Đến Shop NHT
                </p>
            </div>
        </a>
        <div id="footer">
            <p id="footer-description">Đây là thư chào mừng bạn đến với shop, thư này chỉ đi kèm mã code, vui lòng giữ
                thư để có thể bảo mật tài khoản tốt hơn</p>
        </div>
    </div>
</body>